:root{
  --mainBlue:#6d6dc4;
  --lightBlue:#5c87a0;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#d1d416;
  --lightOrange:#f7b63f;
  

}
body{
  font-family: 'Merriweather Sans', sans-serif !important;
  background:var(--mainWhite) !important;
   color:var(--mainYellow) !important;

}
.text-title
{
font-family: 'Lobster', cursive !important;
text-transform: uppercase;
letter-spacing:3px;
}
.text-Yellow
{
  color:var(--mainYellow);
  
}
.text-bright
{
  color:var(--lightOrange);
}
.nav-link
{
  color:#ffbf00;
}
.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size:0.8rem !important;
  color:var(--mainDark);
  border-radius:0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background:var(--mainDark) !important;
  color:var(--mainWhite) !important;
}
.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
  color:var(--mainYellow);
}